.titulo {
  color: black;
  font-size: 50px;
  font-weight: bold;
  font-family: "Comic Neue", serif;
  text-align: center;
  margin-top: 130px;
  margin-bottom: 40px;
}

.checkoutFont {
  color: darkgray;
  font-size: 24px;
  font-family: "roboto", sans-serif;
  text-align: left;
  margin-bottom: 20px;
  font-weight: bolder;
}

.form-estilopropio {
  margin-bottom: 0;
  margin-top: 0;
  width: 100%;
}

.label-estilopropio {
  font-size: 1rem;
  width: 100%;
}

.label-estilopropio:focus {
  box-shadow: 0 0 0 .25rem cyan;
  outline: 0;
}

.form-control {
  width: 100%;
}

.form-control.label-estilopropio:focus {
  box-shadow: 0 0 0 .25rem lightblue !important;
  border-color: lightblue !important;
}

.formulario-content {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  box-shadow: 0 5px 10px lightslategray;
  border-radius: 10px;
  padding: 10px;
  margin: 30px auto 20px;
  max-width: 1000px;
}

.formulario-content h3 {
  margin-top: 10px;
  text-align: center;
}

.button-propio {
  display: block;
  width: 100%;
  margin: 10px 0;
  background-color: darkcyan;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 12px;
  box-shadow: 0 10px 10px darkgray;
  font-weight: bold;
  font-family: "Comic Neue", serif;
  text-align: center;
  text-decoration: none;
  font-size: 25px;
}

.button-propio:hover {
  outline: 2px solid lightseagreen;
  border-radius: 20px;
  /* transform: scale(1.1);
  transition: ease-out 1s; */
}
