@import url("https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");


.cardClass{
  border: 2px solid lightblue;
  border-radius: 15px;
  padding: 4px 10px;
  display: inline-block;
  box-shadow: 0 5px 10px lightblue;
  margin-bottom: 40px;
  max-width: 400px;
}

.cardClass:hover{
  outline: 2px solid lightseagreen;
  border-radius: 20px;
  transform: scale(1.1);
  transition: ease-out 1s;
}

.cardLinks{
  text-decoration: none;
  color: inherit;
}

.cardClass h1 {
  margin: 30px;
  color: black;
  font-size: 30px;
  font-weight: bold;
  font-family: "roboto", sans-serif;
  text-align: center;
  margin-bottom: 20px;
}

.cardClass h2 {
  color: steelblue;
  font-size: 20px;
  font-weight: bold;
  font-family: "roboto", sans-serif;
  text-align: left;
  margin-top: 10px;
}

.cardClass h3 {
  color: darkgray;
  font-size: 15px;
  font-family: "roboto", sans-serif;
  text-align: left;
  margin-bottom: 20px;
}

.imagenes{
 margin-top: 10px; 
 max-width: 200px;
 margin-bottom: 20px;
}
