.notFound{

    background-image: url("https://res.cloudinary.com/drzhqvhh9/image/upload/v1754197326/404_ixor14.webp");
    background-size: cover;
    background-position: center;
    height: 400px;
    color: white;

}